/* General Slide-in Animation */
@keyframes slideInFromTop {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

/* Apply the animations to specific classes */
.slide-in-top {
    animation: slideInFromTop 1s ease-out forwards;
}

.slide-in-right {
    animation: slideInFromRight 1s ease-out forwards;
}

.slide-in-left {
    animation: slideInFromLeft 1s ease-out forwards;
}
@font-face {
    font-family: 'Khmer OS';
    src: url('/assets/fonts/KhmerOS.ttf') format('truetype'); /* Đường dẫn tới file font */
    font-weight: normal;
    font-style: normal;
}

/* Áp dụng font Khmer OS cho toàn bộ website */
body {
    font-family: 'Khmer OS', Arial, sans-serif;
}