/* General Slide-in Animation */
@keyframes slideInFromTop {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

/* Apply the animations to specific classes */
.slide-in-top {
    animation: slideInFromTop 1s ease-out forwards;
}

.slide-in-right {
    animation: slideInFromRight 1s ease-out forwards;
}

.slide-in-left {
    animation: slideInFromLeft 1s ease-out forwards;
}