.quantity-container {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap; /* để responsive tốt */
}

@media (min-width: 850px) and (max-width: 1200px),
(min-width: 1200px) {
    .quantity-container {
        width: auto; /* bỏ width: 100% */
        justify-content: flex-start; /* không space-between */
    }
}

/* CSS to truncate the title text after 2 lines */
.d-flex.flex-column p {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

#IdImgGrid {
    justify-content: center;
    display: flex;
    object-fit: cover;
    background-color: #E4EEF9;
}


/*=====================================================================*/
/*style for product image show the same size*/
.my-image-container {
    max-height: 409px;
    overflow: hidden;
}

.carousel-item {
    height: 300px;
}

.my-image-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.container_comment{
    border-radius: 20px;
    border: 1px solid #ccc;
    padding:10px;
    margin-top: 20px;
}

.Product_Description{
    background-color: #F5F9FD;
    border: solid 1px #ccc;
    border-radius: 10px;
}

.product-description {
    display: inline-block;
    white-space: nowrap;
}