.dashboard-box {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.my-hidden {
    display: none;
}

@media (max-width: 350px) {
    .dashboard-box {
        width: 110%;
    }
}

#asd{
    align-items: center;
    justify-content: center;
    width: 100%;
}
@font-face {
    font-family: 'Khmer OS';
    src: url('/assets/fonts/KhmerOS.ttf') format('truetype'); /* Đường dẫn tới file font */
    font-weight: normal;
    font-style: normal;
}

/* Áp dụng font Khmer OS cho toàn bộ website */
body {
    font-family: 'Khmer OS', Arial, sans-serif;
}