@media (max-width: 992px) {
    .dropdown-menu {
        margin-right: -83px !important;
    }
}

.logo_container {
    max-height: 58px;
    max-width: 58px;
    overflow: hidden;
    display: flex;
    align-items: center;  /* Căn giữa theo chiều dọc */
    justify-content: center; /* Căn giữa theo chiều ngang nếu muốn */
    margin-right: 20px;
}

.logo_container img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    height: auto;
    width: auto;
}

.navbar-brand{
    font-size: 16px !important;
}
@font-face {
    font-family: 'Khmer OS';
    src: url('/assets/fonts/KhmerOS.ttf') format('truetype'); /* Đường dẫn tới file font */
    font-weight: normal;
    font-style: normal;
}

/* Áp dụng font Khmer OS cho toàn bộ website */
body {
    font-family: 'Khmer OS', Arial, sans-serif;
}